<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CinemaProjeto" connectionString="Server=10.0.2.108;Database=TreinamentoDB_Heitor;User Id=treinamento_db;Password=Tr31naDb"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>